.shared{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    display: none;
}
.sidebar-visible{
    background-color: #0E6BA8;
    height: 93vh;
    width: 272px;
    display: flex;
    flex-direction: column;
}

.shared-content{
    flex-grow: 1;
}