.register{
    background-color: #9EB7E5;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.reg-container{
    background-color: #fff;
    width: 450px;
    margin: auto;
    border-top: 5px solid #0E6BA8;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.log-container{
    background-color: #fff;
    width: 450px;
    margin: auto;
    border-top: 5px solid #0E6BA8;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.reg-heading{
    margin: 5px auto;
}

.reg-heading span{
    color: #A4243B;
    font-size: 72px;
}

.reg-line{
    background-color: #0E6BA8;
    height: 1px;
    margin: 5px 0;
}

.reg-form{
    margin: 5px 5px 10px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.reg-username{
    margin: 5px;
    width: 90%;
}

.reg-username input{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    font-size: 24px;
    outline: none;
}

.reg-email{
    margin: 5px;
    width: 90%;
}

.reg-email input{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    font-size: 24px;
    outline: none;
}

.reg-password{
    margin: 5px;
    width: 90%;
}

.reg-password input{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    font-size: 24px;
    outline: none;
}

.button{
    margin: 5px 10px 10px 10px;
    display: flex;
}

.reg-btn{
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
    width: 300px;
    font-size: 24px;
    padding: 5px;
    background-color: #9EB7E5;
    color: white;
}

.reg-btn:hover{
    box-sizing: border-box;
    border: 1px solid #9EB7E5;
    background-color: white;
    color: #9EB7E5;
}

.toggle{
    box-sizing: border-box;
    margin: 10px auto 20px;
}

.member{
    font-size: 24px;
}

.reg-tog{
    color:#0E6BA8;
    font-size: 24px;
    margin-left: 5px;
}

.reg-tog:hover{
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .reg-container{
        width: 250px;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .log-container{
        width: 250px;
        box-sizing: border-box;
    }
    .reg-heading span{
        font-size: 32px;
        box-sizing: border-box;
        width: 100%;
    }
    .reg-line{
        width: 100%;
        box-sizing: border-box;
    }
    .reg-form{
        box-sizing: border-box;
        width: 100%;
        margin: auto;
    }
    .reg-username input{
        height: 28px;
        font-size: 18px;
    }
    .reg-email input{
        height: 28px;
        font-size: 18px;
    }
    .reg-password input{
        height: 28px;
        font-size: 18px;
    }
    .reg-btn{
        width: 150px;
        font-size: 16px;
        padding: 3px;
    }
    .member{
        font-size: 18px;
    }
    
    .reg-tog{
        font-size: 18px;
    }
}