.alert{
    width: 85%;
    padding: 10px;
    font-size: 18px;
    margin: auto;
    border-radius: 5px;
    color: #0A100D;
}

.danger{
    background-color: #DE3C4B;    
}

.warning{
    background-color: #FAA916;
}

.success{
    background-color: #198754;
}