.nav {
    height: 70px;
    background-color: #0E6BA8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tog{
    margin: auto 15px;
    cursor: pointer;
}

.tog img{
    width: 50px;
    height: 30px;
}

.nav-heading h1{
    font-size: 48px;
    font-weight: 400px;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}

.nav-user{
    margin: auto 15px auto 0;
    display: flex;
    flex-direction: row;
}

.nav-profile{
    margin: 0 20px 0 5px;
}

.nav-profile img{
    height: 40px;
    align-items: center;
}

.nav-logout{
    margin: auto 0;
}

.logout-btn{
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 3px 20px;
    font-size: 18px;
    transition: 200ms ease-in-out
}

.logout-btn:hover{
    color: #0E6BA8;
    background-color: #fff;
    cursor: pointer;
    transition: 300ms ease-in-out;
}